<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="USER_INFO" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <USER_INFO>
    <add key="BrokerID" value="8080"/>
    <add key="UserID" value="99"/>
    <add key="Password" value="test"/>
    <add key="FrontAddress" value="tcp:\\localhost:8000"/>
    <add key="FrontAddress2" value="tcp:\\localhost:9000"/>
  </USER_INFO>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>