# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.sdf
*.opensdf
/.vs/*
ipch/*
include/*
/ftd/Debug
/UnitTest++/obj/UnitTest++_vs14/Debug/UnitTest++_vs14.tlog
/lib/debug
/test_unit/Debug/test_unit.tlog
/UnitTest++/obj/UnitTest++_vs14/Debug
/test_unit/Debug
/test/debug/ut
/ftd_sw.VC.db
/ftd_sw.VC.VC.opendb
/auto_gen/FTD20/*
/auto_gen/FTD10/*
*.pyc
/ftd/FTD20/*
/ftd/FTDDerivativeType.h
/ftd/FTDID.h
/ftd/FTDItemType.h
/build/Debug/ftd/ftd.tlog
/build/Debug/ftd
/ftd/DerivativeType.h
/ftd/ItemType.h
/ftd/Id.h
/ftd/double-conversion
/build/Debug/test_unit/test_unit.tlog
/build/Debug/test_unit/test_unit.log
*.idb
*.pdb
/ftd/FTD30/*
/include/*
/test_unit/TestXcpStructTestCase.cpp
/test_unit/TestFTDFieldWriteReadTestCase.cpp

/build/Debug/xcptraderapi.tlog
/build/Debug
/SampleClient/Debug
/export/lib/Debug
/SampleServer/Debug
/Debug/SampleServer.ilk
/Debug/echo_server.cfg
