# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.sdf
*.opensdf
*.pyc
*.idb
*.pdb
*.doc
*.conn
*.ilk
*.dbs
*.log

/.vs/*
ipch/*
/build/*
/import/lib
/export

/ftd_sw.VC.db
/ftd_sw.VC.VC.opendb


/ftd/FTD20/*
/ftd/ItemType.h
/ftd/DerivativeType.h
/ftd/Id.h
/ftd/double-conversion
/ftd/FTD30/*
/test_unit/TestXcpStructTestCase.cpp
/test_unit/TestFTDFieldWriteReadTestCase.cpp
/dbcore/genericdb.h
/dbcore/genericdb.c
/dbcore/genericdb.hpp
/dbcore/genericdb.*
/dbcore/disk_file.dbs
/dbcore/disk_file.log
/xcptraderapi/XcpFtdcUserApiStruct.h
/xcpraderapi/XcpFtdcUserApiDataType.h
/include
/swtraderapi
/UnitTest++/obj/UnitTest++_vs14/Debug/UnitTest++_vs14.tlog
/XcpApiCSharp/obj/Debug
/XcpApiCSharp/ApiStructure.cs
/TestMarshal/obj/Debug
