# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo
*.sdf
*.opensdf
/.vs/*
ipch/*
/include/*
/build/*
/dbcore/genericdb.*
/ftd/Debug
/UnitTest++/obj/UnitTest++_vs14/Debug/UnitTest++_vs14.tlog
/test_unit/Debug/test_unit.tlog
/UnitTest++/obj/UnitTest++_vs14/Debug
/test_unit/Debug
/test/debug/ut
/ftd_sw.VC.db
/ftd_sw.VC.VC.opendb
/auto_gen/FTD20/*
/auto_gen/FTD10/*
*.pyc
/ftd/FTD20/*
/ftd/FTDDerivativeType.h
/ftd/FTDID.h
/ftd/FTDItemType.h
/build/Debug/ftd/ftd.tlog
/build/Debug/ftd
/ftd/DerivativeType.h
/ftd/ItemType.h
/ftd/Id.h
/ftd/double-conversion
/build/Debug/test_unit/test_unit.tlog
/build/Debug/test_unit/test_unit.log
*.idb
*.pdb
/ftd/FTD30/*
/include/*
/test_unit/TestXcpStructTestCase.cpp
/test_unit/TestFTDFieldWriteReadTestCase.cpp

/build/Debug/xcptraderapi.tlog
/build/Debug
/SampleClient/Debug
/export/lib/Debug
/SampleServer/Debug
/Debug/SampleServer.ilk
/Debug/echo_server.cfg
*.doc
*.conn
/export/lib
/build/02_open_disk_file/Debug
/TestExtremeDB/bin/Debug
/TestExtremeDB/genericdb.h
/TestExtremeDB/genericdb.c
/TestExtremeDB/genericdb.hpp
/TestExtremeDB/build/02_open_disk_file/Debug
/bin/Debug
/TestExtremeDB/disk_file.dbs
/TestExtremeDB/disk_file.log
*.ilk
/TestDB/Debug
/TestDB/genericdb.c
/TestDB/genericdb.h
/TestDB/disk_file.log
/TestDB/disk_file.dbs
/TestDB/genericdb.hpp
/build/dbcore/Debug
/build/ftd/Debug
/build/SampleClient/Debug
/build/SampleServer/Debug
/build/xcptraderapi/Debug
/export/Debug
*.dbs
*.log
