/*
本文件自动生成，请勿手工修改
Version={version}
*/

#ifndef {version}_PACKAGECRACKER_H
#define {version}_PACKAGECRACKER_H

#include "../ID.h"
#include "../Exceptions.h"
#include "../Package.h"

namespace FTD
{{
class SessionID;
{class_pre_def}

class PackageCracker
{{
public:
    virtual ~PackageCracker() {{}}
	virtual void onPackage(const Package&, const FTD::SessionID&)
	{{
		throw FTD::UnsupportedMessageType();
	}}
	virtual void OnPackage(Package&, const FTD::SessionID&)
	{{
		throw FTD::UnsupportedMessageType();
	}}
{default_on_const_package_section}
{default_on_package_section}

	void crack(const Package& package, const SessionID& sessionID)
	{{
{const_if_else_sections}		
		    onPackage(package, sessionID);	
	}}

	void crack(Package& package, const SessionID& sessionID)
	{{
{if_else_sections}
		    OnPackage(package, sessionID);
	}}



}}

}}
#endif